extends layout

block content
	h1 Set your password
	form(name="userdata", action="/users/create_password", method="post")
		input(type="hidden", name="user_id", value="#{user_id}")
		input(type="text", name="password")
		input(type="submit", value="submit")
