extends layout

block content
	h1 Log in here
	form(name="userdata", action="/users/login", method="post")
		input(type="text", name="user_id")
		input(type="password", name="password")
		input(type="submit", value="submit")
